/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
}

.glass-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 15%;
  backdrop-filter: blur(2px);
  background: transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  /* animation: slide-down 0.8s ease-out forwards; */
}

.profile-picture {
  position: absolute;
  top: 10px; 
  right: 10px; 
  width: 60px; 
  height: 60px; 
  border-radius: 50%; 
  overflow: hidden; 
  border: 2px solid #fff;
}

/* Estilo da imagem dentro do círculo */
.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Faz a imagem cobrir o círculo sem distorção */
}

body {
  display: block;
  width: 100%;
  height: auto; 
}

section {
  margin-top: 12rem; /* Adiciona espaçamento entre as seções */
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 1rem 0;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #ffffffb3;
  font-weight: bold;
  transition: color 0.3s ease;
  position: relative;
}

.nav-links a::after{
  content: " ";
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: 0.2s ease-in-out;
}

.nav-links a:hover::after{
  width: 100%;
}

.nav-links a:hover {
  color: #ffffff;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Faz o vídeo cobrir toda a área sem distorcer */
}

@keyframes fade-in {
  0% {
    opacity: 0;  
  }
  100% {
    opacity: 1;  
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-100px); 
    opacity: 0; 
  }
  100% {
    transform: translateX(0); 
    opacity: 1; 
  }
}



.li_1{
  animation: fade-in 0.4s ease-out forwards;
}
.li_2{
  animation: fade-in 0.6s ease-out forwards;

}
.li_3{
  animation: fade-in 0.8s ease-out forwards;
}
.li_4{
  animation: fade-in 1s ease-out forwards;
}
.li_5{
  animation: fade-in 1.2s ease-out forwards;
}

#about {
  color: white;
  display: flex;
  opacity: 0; 
  animation: slide-right 0.8s ease-out forwards;
  width: 100%; 
  padding: 2rem; /* Adiciona espaçamento interno */
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top:10% ;
}

.dev-title{
  font-size: 20px;
}

.about-content{
  line-height: 30px;
  flex-direction: column;
  width: 60%;
}

.about-content h1{
  margin-bottom: 4%;
  font-size: 35px;
}

.about-content p{
  font-size: 2.5vh;
  margin-top: 7%;
}

.skills-title{
  color: white;
  margin-bottom: 5%;
}

#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; 
  padding: 2rem; /* Adiciona espaçamento interno */
  opacity: 0;
  animation: fade-in 3s ease-out forwards;
}

.skills-content{
  height: 50%;
  display: flex;
  flex-direction: row;
  gap: 10%;
  justify-content: center;
  align-items: center;
  transform: translateY(45%);
}

.skill-1{
  display: flex;
  width: 12vw;
  height: 12vh;
  border: 3px solid white;
  /* background-color: antiquewhite; */
  border-radius:15%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.skill-1::after{
  content: " ";
  width: 0%;
  height: 2px;
  position: absolute;
  transform: translateY(4vh);
  bottom: 0;
  left: 0;
  background-color: white;
  transition: 0.2s ease-in-out;
}

.skill-1:hover::after{
  width: 50%;
}

.skill-1 img{
  transform: translateX(5%);
}

.skill-1:hover {
  transform: scale(1.2); 
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5); /* Adiciona um efeito de sombra */
}

.skill-2{
  display: flex;
  justify-content: center;
  width: 12vw;
  height: 12vh;
  border: 3px solid white;
  /* background-color: antiquewhite; */
  border-radius:15%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-2::after{
  content: " ";
  width: 0%;
  height: 2px;
  position: absolute;
  transform: translateY(4vh);
  bottom: 0;
  left: 0;
  background-color: white;
  transition: 0.2s ease-in-out;
}

.skill-2:hover::after{
  width: 25%;
}

.skill-2:hover {
  transform: scale(1.2); 
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5); /* Adiciona um efeito de sombra */
}

.skill-2 img{
  z-index: -1;
}

.skill-3{
  display: flex;
  width: 12vw;
  justify-content: center;
  height: 12vh;
  border: 3px solid white;
  /* background-color: antiquewhite; */
  border-radius:15%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-3::after{
  content: " ";
  width: 0%;
  height: 2px;
  position: absolute;
  transform: translateY(4vh);
  bottom: 0;
  left: 0;
  background-color: white;
  transition: 0.2s ease-in-out;
}

.skill-3:hover::after{
  width: 50%;
}

.skill-3:hover {
  transform: scale(1.2); 
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5); /* Adiciona um efeito de sombra */
}

.skill-3 img{
  z-index: -1;
}

.skill-4{
  display: flex;
  justify-content: center;
  width: 12vw;
  height: 12vh;
  border: 3px solid white;
  /* background-color: antiquewhite; */
  border-radius:15%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-4::after{
  content: " ";
  width: 0%;
  height: 2px;
  position: absolute;
  transform: translateY(4vh);
  bottom: 0;
  left: 0;
  background-color: white;
  transition: 0.2s ease-in-out;
}

.skill-4:hover::after{
  width: 50%;
}

.skill-4:hover {
  transform: scale(1.2); 
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5); /* Adiciona um efeito de sombra */
}
.skill-5{
  display: flex;
  justify-content: center;
  /* justify-content: center; */
  width: 12vw;
  height: 12vh;
  border: 3px solid white;
  /* background-color: antiquewhite; */
  border-radius:15%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-5::after{
  content: " ";
  width: 0%;
  height: 2px;
  position: absolute;
  transform: translateY(4vh);
  bottom: 0;
  left: 0;
  background-color: white;
  transition: 0.2s ease-in-out;
}

.skill-5:hover::after{
  width: 35%;
}


.skill-5:hover {
  transform: scale(1.2); 
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5); /* Adiciona um efeito de sombra */
}

.skill-6{
  display: flex;
  justify-content: center;
  width: 12vw;
  height: 12vh;
  border: 3px solid white;
  /* background-color: antiquewhite; */
  border-radius:15%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-6::after{
  content: " ";
  width: 0%;
  height: 2px;
  position: absolute;
  transform: translateY(4vh);
  bottom: 0;
  left: 0;
  background-color: white;
  transition: 0.2s ease-in-out;
}

.skill-6:hover::after{
  width: 10%;
}

.skill-6:hover {
  transform: scale(1.2); 
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5); /* Adiciona um efeito de sombra */
}

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; 
  padding: 2rem; /* Adiciona espaçamento interno */
  gap: 50px;
}

.projects-title{
  color: white;
  opacity: 0; 
  animation: slide-right 0.8s ease-out forwards;
  margin-bottom: 5%;
}

.projects-content{
  height: 150px;
  width: 70%;
  display: flex;
  flex-direction: row;
  gap: 15%;
  justify-content: center;
  align-items: center;
  transform: translateY(45%);
  border: 2px solid white;
  border-radius: 2%;
  opacity: 0; 
  animation: slide-right 0.8s ease-out forwards;
}

.projects-content{
  height: 200px;
  width: 70%;
  display: flex;
  flex-direction: row;
  gap: 15%;
  justify-content: center;
  align-items: center;
  transform: translateY(45%);
  border: 2px solid white;
  border-radius: 2%;
  opacity: 0; 
  animation: slide-right 0.8s ease-out forwards;
}

.btn-mais{
  border: 2px solid gray;
  border-radius: 5%;
  width: 40%;
  height: 10%;
  transform: translateX(-55%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-mais:hover{
  background-color: green;
  color: white;
}

.btn-mais a{
  font-size: 10px;
  text-decoration: none;
  color: black;
}

.projects-content .img1{
  width: 12vw;
  height: 7vh;
  transform: translateX(40%);
}

.projects-content .img2{
  width: 40%;
  height: 70%;
  display: flex;
  transform: translateX(28%);
}

.projects-content p{
  color: white;
  transform: translateX(-20%);
}

.linha{
  width: 1px;
  height: 100%;
  background-color: white;
  transform: translateX(0vw);
  display: flex;
}

#education{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; 
  padding: 2rem; /* Adiciona espaçamento interno */
  margin-bottom: 20%;
}

.education-title{
  color: white;
  opacity: 0; 
  animation: slide-right 0.8s ease-out forwards;
  margin-bottom: 5%;
}

.education-content{
  display: flex;
  flex-direction: row;
  opacity: 0;
  animation: slide-right 0.8s ease-out forwards;
  gap: 10%;
}

.Voucher{
  width: 20vw;
  height: 30vh;
  border: 2px solid white;
  border-radius: 2%;
}

.Cisco-1{
  width: 20vw;
  height: 30vh;
  border: 2px solid white;
  border-radius: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.js-title{
  color: white;
  transform: translateY(-40%);
  font-size: 20px;
}

.celo{
  height: 50%;
  width: 46%;
  transition: transform 0.3s ease;
}

.celo:hover{
  transform: scale(1.2);
}

.botão-js{
  width: 30%;
  height: 10%;
  background-color: #ffffff;
  border-radius: 2%;
  transform: translatey(130%);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(70%);
  transition: transform 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.botão-js a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}

.botão-js a:hover{
  color: white;
}

.botão-js:hover{
  background-color: rgb(65, 164, 79);
  color: #ffffff;
}

.voucher-title{
  color: white;
  transform: translateY(-100%);
}

.Voucher{
  width: 20vw;
  height: 30vh;
  border: 2px solid white;
  border-radius: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Voucher img{
  height: 20%;
  margin-bottom: 30%;
  /* margin-right: 60%; */
}

.voucher-text{
  color: white;
  font-size: 90%;
  transform: translateY(-318%);
  width: 180px;
}


.period{
  color: white;
  padding-left: 9%;
  transform: translateY(-110%);
  margin-right: 2%;
  font-weight: 600;
}

.coming-soon {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  display: flex;
  transform: translateY(10vh);
  animation: fade-in 3s ease-out forwards;
}
.dots span {
  display: inline-block;
  opacity: 0;
  animation: blink 1.5s infinite;
}

.dots span:nth-child(1) {
  animation-delay: 0s;
}

.dots span:nth-child(2) {
  animation-delay: 0.3s;
}

.dots span:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes blink {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}


#contact{
  width: 100%;
  height: 30vh;
  backdrop-filter: blur(2px);
  background: transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

.line-footer{
  width: 100%;
  background-color: white;
  height: 1px;
}

.bottom1 a{
  color: white;
  font-size: 3vh;
  display: flex;
  /* margin-right: 89vw; */
  /* margin-top: -3vh; */
  animation: slide-right 0.8s ease-out forwards;
  transition: transform 0.5s ease, box-shadow 0.5s ease;

}

.bottom1:hover{
  transform: scale(1.2); 

}

.bottom2 a{
  color: white;
  font-size: 3vh;
  display: flex;
  /* margin-right: 89vw; */
  /* margin-top: 4vh; */
  animation: slide-right 0.8s ease-out forwards;
}

.bottom2:hover{
  transform: scale(1.2); 

}

.bottom3{
  color: white;
  font-size: 3vh;
  display: flex;
  /* margin-right: 74vw; */
  /* margin-top: 4vh; */
  animation: slide-right 0.8s ease-out forwards;
  cursor: pointer;
}

.bottom4 a{
  color: white;
  font-size: 3vh;
  display: flex;
  /* margin-right: 90vw; */
  /* margin-top: 4vh; */
  /* margin-bottom: 3vh; */
  animation: slide-right 0.8s ease-out forwards;
}

.bottom4:hover{
  transform: scale(1.2); 

}

.contact-h2{
  color: white;
  display: flex;
  transform: translateY(55vh);
  z-index: 11;
}

.bottom3 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 200;
  animation: fade-in-out 2s ease forwards;
}

@keyframes fade-in-out {
  0% { opacity: 0; transform: translateY(10px); }
  20%, 80% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(10px); }
}
